body {
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(12, 17, 22);
    color: white;
}

.header {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header__logo {
    width: 100%;
    height: 60px;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
}

.nav:hover {
    opacity: 0.8;
}

.lancamentos {
    margin-top: 50px;
    margin-bottom: 100px;
}

.subtitle {
    text-align: center;
}

.subtitle__lancamentos {
    text-align: center;
    padding: 110px 100px 100px 100px;
}

.button-carousel {
    background-color: rgba(100, 100, 100, 0.541);
    opacity: 0.1;
    border-radius: 45%;
    max-height: 100px;
    max-width: 75px;
}

.avaliacao p {
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: bold;
}

.destaque {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: #212529;
}

.categoria {
    text-align: right;
}

.img-destaque {
    transition: 0.5s transform ease-in-out;
    width: 100%;
    border-radius: 5px;
    box-shadow: 10px rgba(0, 0, 0, 0.73);
}

.img-destaque:hover {
    transform: scale(1.2);
}

.destaque div {
    margin-bottom: 20px;
}

.botao-funcional {
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.avaliacoes {
    margin-top: 50px;
    margin-bottom: 100px;
}

.avaliacoes img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.avaliador {
    padding: 20px;
    border-radius: 10px;
}

.avaliador__2 {
    padding: 20px;
    border-radius: 10px;
    background: #212529;
}

.botao-avaliacoes {
    border-radius: 5px;
    background-color: rgb(118 118 118 / 58%);
    color: white;
    margin-top: 15px;
}

.entrevistas {
    padding: 30px 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    background: #212529;
}

.entrevistas div {
    margin-bottom: 20px;
}

.botao-filmes {
    border-radius: 5px;
    background-color: rgb(118 118 118 / 58%);
    color: white;
}

.novidades {
    margin-top: 30px;
    margin-bottom: 20px;
}

.novidades img {
    width: 200px;
    border-radius: 5px;
}

.materia {
    padding: 20px;
    border-radius: 10px;
}

.materia__2 {
    padding: 20px;
    border-radius: 10px;
    background: #212529;
}

.text-materia {
    width: calc(100% - 210px);
    padding: 0 10px;
}

.img-materia,
.text-materia {
    display: inline-block;
}

.img-materia {
    width: 200px;
    margin-top: 5px;
    vertical-align: top;
    transition: 0.5s transform ease-in-out;
}

.img-materia:hover {
    transform: scale(1.1);
}

.sobre {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background: #212529;
}

.editorial {
    margin-top: 30px;
    margin-bottom: 20px;
}

.editorial-icon {
    width: 20px;
    height: 20px;
}

.redes-sociais {
    margin-top: 30px;
    margin-bottom: 20px;
}

.social {
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 20px;
    background: white;
    border-radius: 5px;
    transition: 0.5s transform ease-in-out;
}

.social:hover {
    transform: scale(1.2);
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}


/* ======== MEDIA QUERIES ======== */

@media screen and (max-width: 1544px) {
    .menu1 {
        position: absolute;
        top: 25px;
        left: 20%;
        margin-left: 20px;
    }
}

@media screen and (max-width: 992px) {
    .texto-lancamento {
        margin-top: 20px;
    }
    .entrevista-all {
        margin-top: 20px;
    }
}

@media screen and (max-width: 970px) {
    .menu1 {
        display: none;
    }
    .menu-mobile {
        display: inherit;
        position: absolute;
        top: 20px;
        left: 88%;
    }
    .pesquisar {
        position: absolute;
        top: 25px;
        left: 40%;
    }
    .texto-lancamento {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .avaliacoes img {
        display: none;
    }
    .avaliador {
        margin-top: 20px;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    .avaliador:nth-child(4) {
        border-bottom: 0;
    }
}

@media screen and (max-width: 577px) {
    .novidades img {
        width: 200px;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.73);
        -moz-box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.73);
        box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.73);
    }
    .novidades h1 {
        text-align: center;
    }
    .img-materia,
    .text-materia {
        display: block;
        width: 100%;
    }
    .img-materia img {
        width: 100%;
    }
    .text-materia {
        width: 100%;
        padding: 0 10px;
        margin-top: 10px;
    }
    .materia {
        margin-bottom: 10px;
    }
    .sobre {
        margin-top: 10px;
    }
    .sobre .texto-sobre {
        margin-bottom: 40px;
    }
    .novidades h1 {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 524px) {
    .header {
        background-color: rgb(235, 235, 235);
    }
    .logo-nav {
        display: none;
    }
    .menu1 {
        display: none;
    }
    .menu-mobile {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 90%;
    }
    .pesquisar {
        position: inherit;
        margin-right: 30px;
    }
}